/*
Images to be: 1300x500px
*/
@CHARSET "UTF-8";
body {
	font-family: Trebuchet MS, sans-serif;
	font-size: 16px;
	color: #192941;
	background: #d2d1d1;
}

.top-container {
	padding-top: 75px;
	width: 100%;
	position: relative;
	text-align: center;
	background: url(../img/header.png) repeat-x top left; /* Add here a header image */
}

.top-container > header {
	padding: 50px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
	text-align: left;
}

.top-container > header h1 {
	font-size: 50px;
	line-height: 50px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	padding-bottom: 5px;
}

.top-container > header h1 span {
	color: #091a3d;
	text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
}

.top-container > header h2 {
	font-size: 17px;
	font-style: italic;
	padding-bottom: 15px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
	.top-container > header {
		text-align: center;
	}
}

/* Angles Section */
.container {
	display: block;
	width: 100%;
	overflow: hidden;
	padding-top: 50px;
}

.angle {
	margin: 0 -50px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center; /* to cut off not angled strip */
}

.angle:nth-child(odd) {
	border-top: 16px solid #192941;
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	margin-top: -200px;
}

.angle:nth-child(even){
	background: #ccc url(../img/silver.png) repeat;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
}

.angle:first-child {
	margin-top: 0px;
}

.content {
	margin: 0 auto;
}

.content h3 {
	font-size: 60px;
	position: relative;
	display: inline-block;
	padding: 10px 30px 8px 30px;
	height: 80px;
	line-height: 80px;
	margin-bottom: 20px;
	/* maybe a different font family */
	background: rgba(255,255,255,0.7);
}
.content h3 a {
	color: black;
	transition: 2s;
}

.content h3 a:hover {
	color: #72ade4;
}

.content h4 {
	font-size: 40px;
	position: relative;
	display: inline-block;
	padding: 5px 15px 4px 15px;
	height: 50px;
	line-height: 50px;
	margin-bottom: 10px;
}

.content p {
	width: 75%;
	max-width: 500px;
	margin: 0 auto;
	font-size: 18px;
	line-height: 24px;
	padding: 10px;
}

.content p a {
	color: #6495ED; /* cornflowerblue */
	transition: 2s;
}

.content p a:hover {
	color: blue;
}

.angle:nth-child(odd) .content p {
	background: rgba(0,0,0,0.5);
}

.angle:nth-child(odd) .content {
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);
	-o-transform: rotate(-5deg);
	-ms-transform: rotate(-5deg);
	transform: rotate(-5deg);
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.7);
	padding: 130px 100px 250px 100px;
}

.angle:nth-child(even) .content{
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
	padding: 130px 100px 200px 100px;
}

.angle:nth-child(odd) .content h3{
	color: #fff;
}

/* Font Work */


/* Media Queries */
@media screen and (max-width: 1010px){
	.content h3{
		font-size: 40px;
	}
}
@media screen and (max-width: 767px) {
	.content h3{
		font-size: 35px;
	}
}
@media screen and (max-width: 400px) {
	.content p{
		width: 95%;
	}
	.angle:nth-child(odd) .content,
	.angle:nth-child(even) .content{
		padding-left:60px;
		padding-right:60px;
		
	}
}

